In [49]:
import pandas as pd

In [50]:
df1 = pd.read_excel('nst-est2017-01.xlsx')
#the data came from the folowing website: which no longer exsists so we had to use web archive to find it
#https://www.census.gov/data/datasets/2017/demo/popest/state-total.html
#https://web.archive.org/web/20180820005818/https://www2.census.gov/programs-surveys/popest/tables/2010-2017/state/totals/nst-est2017-01.xlsx

In [51]:
df1.head()

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
3,United States,308745538,308758105,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0
4,Northeast,55317240,55318350,55388349,55642659.0,55860261.0,56047732.0,56203078.0,56296628.0,56359360.0,56470581.0

In [52]:
df1.columns = df1.iloc[2]

In [53]:
df1.head()

2,nan,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
0,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
3,United States,308745538,308758105,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0
4,Northeast,55317240,55318350,55388349,55642659.0,55860261.0,56047732.0,56203078.0,56296628.0,56359360.0,56470581.0

In [54]:
df1 = df1.drop([0])

In [55]:
df1.head()

2,nan,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
1,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
3,United States,308745538,308758105,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0
4,Northeast,55317240,55318350,55388349,55642659.0,55860261.0,56047732.0,56203078.0,56296628.0,56359360.0,56470581.0
5,Midwest,66927001,66929794,66973360,67141501.0,67318295.0,67534451.0,67720120.0,67839187.0,67978168.0,68179351.0

In [56]:
df1 = df1.drop([1])

In [57]:
df1.head()

2,nan,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
2,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
3,United States,308745538,308758105,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0
4,Northeast,55317240,55318350,55388349,55642659.0,55860261.0,56047732.0,56203078.0,56296628.0,56359360.0,56470581.0
5,Midwest,66927001,66929794,66973360,67141501.0,67318295.0,67534451.0,67720120.0,67839187.0,67978168.0,68179351.0
6,South,114555744,114563024,114869241,116060993.0,117291728.0,118422269.0,119699966.0,121081238.0,122423457.0,123658624.0

In [58]:
df1 = df1.drop([2,4,5,6,7])

In [59]:
df1.head()

2,nan,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
3,United States,308745538,308758105,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0
8,.Alabama,4779736,4780135,4785579,4798649.0,4813946.0,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0
9,.Alaska,710231,710249,714015,722259.0,730825.0,736760.0,736759.0,737979.0,741522.0,739795.0
10,.Arizona,6392017,6392309,6407002,6465488.0,6544211.0,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0
11,.Arkansas,2915918,2916031,2921737,2938640.0,2949208.0,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0

In [60]:
df1 = df1.drop([59,60,61,62,63,64,65])

In [61]:
df1.head()

2,nan,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
3,United States,308745538,308758105,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0
8,.Alabama,4779736,4780135,4785579,4798649.0,4813946.0,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0
9,.Alaska,710231,710249,714015,722259.0,730825.0,736760.0,736759.0,737979.0,741522.0,739795.0
10,.Arizona,6392017,6392309,6407002,6465488.0,6544211.0,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0
11,.Arkansas,2915918,2916031,2921737,2938640.0,2949208.0,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0

In [66]:
df1 = df1.rename(columns={            2011.0: 2011,           2012.0: 2012,           2013.0:2013,           2014.0: 2014,           2015.0:2015,           2016.0:2016,           2017.0:2017})

In [67]:
df1.columns

Index([nan, 'Census', 'Estimates Base', 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017],
      dtype='object', name=2)

In [125]:
#df1 = df1.rename(columns={nan: "State"})

In [77]:
df1.iloc[:, 0]

3             United States
8                  .Alabama
9                   .Alaska
10                 .Arizona
11                .Arkansas
12              .California
13                .Colorado
14             .Connecticut
15                .Delaware
16    .District of Columbia
17                 .Florida
18                 .Georgia
19                  .Hawaii
20                   .Idaho
21                .Illinois
22                 .Indiana
23                    .Iowa
24                  .Kansas
25                .Kentucky
26               .Louisiana
27                   .Maine
28                .Maryland
29           .Massachusetts
30                .Michigan
31               .Minnesota
32             .Mississippi
33                .Missouri
34                 .Montana
35                .Nebraska
36                  .Nevada
37           .New Hampshire
38              .New Jersey
39              .New Mexico
40                .New York
41          .North Carolina
42            .North Dakota
43                    .Ohio
44                .Oklahoma
45                  .Oregon
46            .Pennsylvania
47            .Rhode Island
48          .South Carolina
49            .South Dakota
50               .Tennessee
51                   .Texas
52                    .Utah
53                 .Vermont
54                .Virginia
55              .Washington
56           .West Virginia
57               .Wisconsin
58                 .Wyoming
Name: nan, dtype: object

In [78]:
df1["State"] = [' United States','Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','District of Columbia','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming']

In [79]:
df1

2,nan,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,State
3,United States,308745538,308758105,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0,United States
8,.Alabama,4779736,4780135,4785579,4798649.0,4813946.0,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0,Alabama
9,.Alaska,710231,710249,714015,722259.0,730825.0,736760.0,736759.0,737979.0,741522.0,739795.0,Alaska
10,.Arizona,6392017,6392309,6407002,6465488.0,6544211.0,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0,Arizona
11,.Arkansas,2915918,2916031,2921737,2938640.0,2949208.0,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0,Arkansas
12,.California,37253956,37254518,37327690,37672654.0,38019006.0,38347383.0,38701278.0,39032444.0,39296476.0,39536653.0,California
13,.Colorado,5029196,5029325,5048029,5116411.0,5186330.0,5262556.0,5342311.0,5440445.0,5530105.0,5607154.0,Colorado
14,.Connecticut,3574097,3574114,3580171,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0,Connecticut
15,.Delaware,897934,897936,899712,907884.0,916868.0,925114.0,934805.0,944107.0,952698.0,961939.0,Delaware
16,.District of Columbia,601723,601766,605040,620336.0,635630.0,650114.0,660797.0,672736.0,684336.0,693972.0,District of Columbia
17,.Florida,18801310,18804594,18846461,19097369.0,19341327.0,19584927.0,19897747.0,20268567.0,20656589.0,20984400.0,Florida
18,.Georgia,9687653,9688690,9712696,9810595.0,9911171.0,9981773.0,10083850.0,10199533.0,10313620.0,10429379.0,Georgia
19,.Hawaii,1360301,1360301,1363817,1378323.0,1392772.0,1408038.0,1417710.0,1426320.0,1428683.0,1427538.0,Hawaii
20,.Idaho,1567582,1567650,1570912,1583180.0,1594673.0,1610187.0,1630391.0,1649324.0,1680026.0,1716943.0,Idaho
21,.Illinois,12830632,12831565,12841196,12862298.0,12878494.0,12890403.0,12882438.0,12862051.0,12835726.0,12802023.0,Illinois
22,.Indiana,6483802,6484125,6490029,6515358.0,6535665.0,6567484.0,6593182.0,6610596.0,6634007.0,6666818.0,Indiana
23,.Iowa,3046355,3046869,3050223,3063690.0,3074386.0,3089876.0,3105563.0,3118473.0,3130869.0,3145711.0,Iowa
24,.Kansas,2853118,2853130,2858403,2868756.0,2885316.0,2892900.0,2899553.0,2905789.0,2907731.0,2913123.0,Kansas
25,.Kentucky,4339367,4339340,4347948,4368505.0,4383673.0,4399121.0,4410415.0,4422057.0,4436113.0,4454189.0,Kentucky
26,.Louisiana,4533372,4533478,4544871,4574388.0,4602681.0,4626795.0,4648797.0,4671211.0,4686157.0,4684333.0,Louisiana
27,.Maine,1328361,1328362,1327568,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0,Maine
28,.Maryland,5773552,5773807,5788099,5843115.0,5891680.0,5932654.0,5970245.0,6000561.0,6024752.0,6052177.0,Maryland
29,.Massachusetts,6547629,6547808,6564943,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0,Massachusetts
30,.Michigan,9883640,9884129,9876731,9876199.0,9886610.0,9899219.0,9914675.0,9918170.0,9933445.0,9962311.0,Michigan
31,.Minnesota,5303925,5303924,5310711,5345967.0,5377695.0,5416074.0,5452649.0,5483238.0,5525050.0,5576606.0,Minnesota
32,.Mississippi,2967297,2968103,2970437,2977452.0,2982963.0,2987721.0,2988578.0,2985297.0,2985415.0,2984100.0,Mississippi
33,.Missouri,5988927,5988925,5995681,6010280.0,6023267.0,6041142.0,6058014.0,6072640.0,6091176.0,6113532.0,Missouri
34,.Montana,989415,989414,990507,996866.0,1003522.0,1011921.0,1019931.0,1028317.0,1038656.0,1050493.0,Montana
35,.Nebraska,1826341,1826327,1829956,1841641.0,1854862.0,1867414.0,1880920.0,1893564.0,1907603.0,1920076.0,Nebraska
36,.Nevada,2700551,2700691,2702797,2718170.0,2752410.0,2786547.0,2831730.0,2883057.0,2939254.0,2998039.0,Nevada
37,.New Hampshire,1316470,1316460,1316700,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0,New Hampshire
38,.New Jersey,8791894,8791953,8803708,8844694.0,8882095.0,8913735.0,8943010.0,8960001.0,8978416.0,9005644.0,New Jersey
39,.New Mexico,2059179,2059207,2064607,2077744.0,2083590.0,2085161.0,2083207.0,2082264.0,2085432.0,2088070.0,New Mexico
40,.New York,19378102,19378110,19405185,19526372.0,19625409.0,19712514.0,19773580.0,19819347.0,19836286.0,19849399.0,New York
41,.North Carolina,9535483,9535721,9574247,9662940.0,9755299.0,9849812.0,9941160.0,10041769.0,10156689.0,10273419.0,North Carolina
42,.North Dakota,672591,672585,674518,684830.0,701380.0,722908.0,738658.0,754859.0,755548.0,755393.0,North Dakota
43,.Ohio,11536504,11536730,11539282,11543332.0,11546969.0,11567845.0,11593741.0,11606027.0,11622554.0,11658609.0,Ohio
44,.Oklahoma,3751351,3751598,3759529,3785232.0,3815298.0,3849840.0,3875008.0,3904353.0,3921207.0,3930864.0,Oklahoma
45,.Oregon,3831074,3831072,3837073,3865845.0,3893920.0,3919664.0,3960673.0,4016537.0,4085989.0,4142776.0,Oregon
46,.Pennsylvania,12702379,12702857,12711063,12742811.0,12768034.0,12778450.0,12790341.0,12791124.0,12787085.0,12805537.0,Pennsylvania
47,.Rhode Island,1052567,1052945,1053169,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0,Rhode Island
48,.South Carolina,4625364,4625381,4635834,4672744.0,4719009.0,4765862.0,4824758.0,4892423.0,4959822.0,5024369.0,South Carolina
49,.South Dakota,814180,814197,816227,823338.0,832576.0,842513.0,849455.0,854036.0,861542.0,869666.0,South Dakota
50,.Tennessee,6346105,6346295,6355882,6396281.0,6450632.0,6490795.0,6540007.0,6590726.0,6649404.0,6715984.0,Tennessee
51,.Texas,25145561,25146100,25241648,25644424.0,26078327.0,26479279.0,26954436.0,27454880.0,27904862.0,28304596.0,Texas
52,.Utah,2763885,2763889,2775260,2815430.0,2854222.0,2899961.0,2938671.0,2984917.0,3044321.0,3101833.0,Utah
53,.Vermont,625741,625741,625842,626210.0,625606.0,626044.0,625665.0,624455.0,623354.0,623657.0,Vermont
54,.Virginia,8001024,8001043,8025206,8107548.0,8188656.0,8261689.0,8316902.0,8366767.0,8414380.0,8470020.0,Virginia
55,.Washington,6724540,6724545,6741386,6819155.0,6890899.0,6963410.0,7046931.0,7152818.0,7280934.0,7405743.0,Washington
56,.West Virginia,1852994,1853006,1854315,1854891.0,1855360.0,1852333.0,1847624.0,1839767.0,1828637.0,1815857.0,West Virginia
57,.Wisconsin,5686986,5687288,5690403,5705812.0,5721075.0,5736673.0,5751272.0,5759744.0,5772917.0,5795483.0,Wisconsin
58,.Wyoming,563626,563767,564376,567602.0,576608.0,582341.0,583334.0,586102.0,584910.0,579315.0,Wyoming

In [87]:
df = df1.drop(df1.columns[0], axis=1)

In [88]:
df = df.drop(columns=['Census', 'Estimates Base'])

In [89]:
df

2,2010,2011,2012,2013,2014,2015,2016,2017,State
3,309338421,311644280.0,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0,United States
8,4785579,4798649.0,4813946.0,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0,Alabama
9,714015,722259.0,730825.0,736760.0,736759.0,737979.0,741522.0,739795.0,Alaska
10,6407002,6465488.0,6544211.0,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0,Arizona
11,2921737,2938640.0,2949208.0,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0,Arkansas
12,37327690,37672654.0,38019006.0,38347383.0,38701278.0,39032444.0,39296476.0,39536653.0,California
13,5048029,5116411.0,5186330.0,5262556.0,5342311.0,5440445.0,5530105.0,5607154.0,Colorado
14,3580171,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0,Connecticut
15,899712,907884.0,916868.0,925114.0,934805.0,944107.0,952698.0,961939.0,Delaware
16,605040,620336.0,635630.0,650114.0,660797.0,672736.0,684336.0,693972.0,District of Columbia
17,18846461,19097369.0,19341327.0,19584927.0,19897747.0,20268567.0,20656589.0,20984400.0,Florida
18,9712696,9810595.0,9911171.0,9981773.0,10083850.0,10199533.0,10313620.0,10429379.0,Georgia
19,1363817,1378323.0,1392772.0,1408038.0,1417710.0,1426320.0,1428683.0,1427538.0,Hawaii
20,1570912,1583180.0,1594673.0,1610187.0,1630391.0,1649324.0,1680026.0,1716943.0,Idaho
21,12841196,12862298.0,12878494.0,12890403.0,12882438.0,12862051.0,12835726.0,12802023.0,Illinois
22,6490029,6515358.0,6535665.0,6567484.0,6593182.0,6610596.0,6634007.0,6666818.0,Indiana
23,3050223,3063690.0,3074386.0,3089876.0,3105563.0,3118473.0,3130869.0,3145711.0,Iowa
24,2858403,2868756.0,2885316.0,2892900.0,2899553.0,2905789.0,2907731.0,2913123.0,Kansas
25,4347948,4368505.0,4383673.0,4399121.0,4410415.0,4422057.0,4436113.0,4454189.0,Kentucky
26,4544871,4574388.0,4602681.0,4626795.0,4648797.0,4671211.0,4686157.0,4684333.0,Louisiana
27,1327568,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0,Maine
28,5788099,5843115.0,5891680.0,5932654.0,5970245.0,6000561.0,6024752.0,6052177.0,Maryland
29,6564943,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0,Massachusetts
30,9876731,9876199.0,9886610.0,9899219.0,9914675.0,9918170.0,9933445.0,9962311.0,Michigan
31,5310711,5345967.0,5377695.0,5416074.0,5452649.0,5483238.0,5525050.0,5576606.0,Minnesota
32,2970437,2977452.0,2982963.0,2987721.0,2988578.0,2985297.0,2985415.0,2984100.0,Mississippi
33,5995681,6010280.0,6023267.0,6041142.0,6058014.0,6072640.0,6091176.0,6113532.0,Missouri
34,990507,996866.0,1003522.0,1011921.0,1019931.0,1028317.0,1038656.0,1050493.0,Montana
35,1829956,1841641.0,1854862.0,1867414.0,1880920.0,1893564.0,1907603.0,1920076.0,Nebraska
36,2702797,2718170.0,2752410.0,2786547.0,2831730.0,2883057.0,2939254.0,2998039.0,Nevada
37,1316700,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0,New Hampshire
38,8803708,8844694.0,8882095.0,8913735.0,8943010.0,8960001.0,8978416.0,9005644.0,New Jersey
39,2064607,2077744.0,2083590.0,2085161.0,2083207.0,2082264.0,2085432.0,2088070.0,New Mexico
40,19405185,19526372.0,19625409.0,19712514.0,19773580.0,19819347.0,19836286.0,19849399.0,New York
41,9574247,9662940.0,9755299.0,9849812.0,9941160.0,10041769.0,10156689.0,10273419.0,North Carolina
42,674518,684830.0,701380.0,722908.0,738658.0,754859.0,755548.0,755393.0,North Dakota
43,11539282,11543332.0,11546969.0,11567845.0,11593741.0,11606027.0,11622554.0,11658609.0,Ohio
44,3759529,3785232.0,3815298.0,3849840.0,3875008.0,3904353.0,3921207.0,3930864.0,Oklahoma
45,3837073,3865845.0,3893920.0,3919664.0,3960673.0,4016537.0,4085989.0,4142776.0,Oregon
46,12711063,12742811.0,12768034.0,12778450.0,12790341.0,12791124.0,12787085.0,12805537.0,Pennsylvania
47,1053169,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0,Rhode Island
48,4635834,4672744.0,4719009.0,4765862.0,4824758.0,4892423.0,4959822.0,5024369.0,South Carolina
49,816227,823338.0,832576.0,842513.0,849455.0,854036.0,861542.0,869666.0,South Dakota
50,6355882,6396281.0,6450632.0,6490795.0,6540007.0,6590726.0,6649404.0,6715984.0,Tennessee
51,25241648,25644424.0,26078327.0,26479279.0,26954436.0,27454880.0,27904862.0,28304596.0,Texas
52,2775260,2815430.0,2854222.0,2899961.0,2938671.0,2984917.0,3044321.0,3101833.0,Utah
53,625842,626210.0,625606.0,626044.0,625665.0,624455.0,623354.0,623657.0,Vermont
54,8025206,8107548.0,8188656.0,8261689.0,8316902.0,8366767.0,8414380.0,8470020.0,Virginia
55,6741386,6819155.0,6890899.0,6963410.0,7046931.0,7152818.0,7280934.0,7405743.0,Washington
56,1854315,1854891.0,1855360.0,1852333.0,1847624.0,1839767.0,1828637.0,1815857.0,West Virginia
57,5690403,5705812.0,5721075.0,5736673.0,5751272.0,5759744.0,5772917.0,5795483.0,Wisconsin
58,564376,567602.0,576608.0,582341.0,583334.0,586102.0,584910.0,579315.0,Wyoming

In [90]:
df2018 = pd.read_csv('Population Estimates by State.csv')

In [91]:
df2018

                        Population Estimates by State  Unnamed: 1
0                                              States  Population
1                                             Alabama   4,887,871
2                                              Alaska     737,438
3                                             Arizona   7,171,646
4                                            Arkansas   3,013,825
5                                          California  39,557,045
6                                            Colorado   5,695,564
7                                         Connecticut   3,572,665
8                                            Delaware     967,171
9                                District of Columbia     702,455
10                                            Florida  21,299,325
11                                            Georgia  10,519,475
12                                             Hawaii   1,420,491
13                                              Idaho   1,754,208
14                                           Illinois  12,741,080
15                                            Indiana   6,691,878
16                                               Iowa   3,156,145
17                                             Kansas   2,911,505
18                                           Kentucky   4,468,402
19                                          Louisiana   4,659,978
20                                              Maine   1,338,404
21                                           Maryland   6,042,718
22                                      Massachusetts   6,902,149
23                                           Michigan   9,995,915
24                                          Minnesota   5,611,179
25                                        Mississippi   2,986,530
26                                           Missouri   6,126,452
27                                            Montana   1,062,305
28                                           Nebraska   1,929,268
29                                             Nevada   3,034,392
30                                      New Hampshire   1,356,458
31                                         New Jersey   8,908,520
32                                         New Mexico   2,095,428
33                                           New York  19,542,209
34                                     North Carolina  10,383,620
35                                       North Dakota     760,077
36                                               Ohio  11,689,442
37                                           Oklahoma   3,943,079
38                                             Oregon   4,190,713
39                                       Pennsylvania  12,807,060
40                                       Rhode Island   1,057,315
41                                     South Carolina   5,084,127
42                                       South Dakota     882,235
43                                          Tennessee   6,770,010
44                                              Texas  28,701,845
45                                               Utah   3,161,105
46                                            Vermont     626,299
47                                           Virginia   8,517,685
48                                         Washington   7,535,591
49                                      West Virginia   1,805,832
50                                          Wisconsin   5,813,568
51                                            Wyoming     577,737
52                                        Puerto Rico   3,195,153
53  Source(s): U.S. Census Bureau, Vintage 2018 Po...         NaN

In [93]:
df2018 = df2018.rename(columns={'Population Estimates by State': "State"})

In [94]:
df2018.head()

      State  Unnamed: 1
0    States  Population
1   Alabama   4,887,871
2    Alaska     737,438
3   Arizona   7,171,646
4  Arkansas   3,013,825

In [96]:
df2018.columns = df2018.iloc[0]

In [97]:
df2018.head()

0    States  Population
0    States  Population
1   Alabama   4,887,871
2    Alaska     737,438
3   Arizona   7,171,646
4  Arkansas   3,013,825

In [98]:
df2018 = df2018.rename(columns={'States': "State", 'Population':2018})

In [99]:
df2018.head()

0     State        2018
0    States  Population
1   Alabama   4,887,871
2    Alaska     737,438
3   Arizona   7,171,646
4  Arkansas   3,013,825

In [100]:
result = pd.merge(df, df2018, how='left', on=['State'])

In [114]:
result.head()

,2010,2011,2012,2013,2014,2015,2016,2017,State,2018
0,309338421,311644280,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0,United States,NaN
1,4785579,4798649,4813946.0,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0,Alabama,"4,887,871"
2,714015,722259,730825.0,736760.0,736759.0,737979.0,741522.0,739795.0,Alaska,"737,438"
3,6407002,6465488,6544211.0,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0,Arizona,"7,171,646"
4,2921737,2938640,2949208.0,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0,Arkansas,"3,013,825"

In [111]:
#cleandf = result[2011].astype(int)
result[2011] = result[2011].apply(lambda x: int(x))

In [113]:
result.head()

,2010,2011,2012,2013,2014,2015,2016,2017,State,2018
0,309338421,311644280,313993272.0,316234505.0,318622525.0,321039839.0,323405935.0,325719178.0,United States,NaN
1,4785579,4798649,4813946.0,4827660.0,4840037.0,4850858.0,4860545.0,4874747.0,Alabama,"4,887,871"
2,714015,722259,730825.0,736760.0,736759.0,737979.0,741522.0,739795.0,Alaska,"737,438"
3,6407002,6465488,6544211.0,6616124.0,6706435.0,6802262.0,6908642.0,7016270.0,Arizona,"7,171,646"
4,2921737,2938640,2949208.0,2956780.0,2964800.0,2975626.0,2988231.0,3004279.0,Arkansas,"3,013,825"

In [115]:
result[2012] = result[2012].apply(lambda x: int(x))
result[2013] = result[2013].apply(lambda x: int(x))
result[2014] = result[2014].apply(lambda x: int(x))
result[2015] = result[2015].apply(lambda x: int(x))
result[2016] = result[2016].apply(lambda x: int(x))
result[2017] = result[2017].apply(lambda x: int(x))

In [116]:
result

,2010,2011,2012,2013,2014,2015,2016,2017,State,2018
0,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178,United States,NaN
1,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747,Alabama,"4,887,871"
2,714015,722259,730825,736760,736759,737979,741522,739795,Alaska,"737,438"
3,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270,Arizona,"7,171,646"
4,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279,Arkansas,"3,013,825"
5,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653,California,"39,557,045"
6,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154,Colorado,"5,695,564"
7,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184,Connecticut,"3,572,665"
8,899712,907884,916868,925114,934805,944107,952698,961939,Delaware,"967,171"
9,605040,620336,635630,650114,660797,672736,684336,693972,District of Columbia,"702,455"
10,18846461,19097369,19341327,19584927,19897747,20268567,20656589,20984400,Florida,"21,299,325"
11,9712696,9810595,9911171,9981773,10083850,10199533,10313620,10429379,Georgia,"10,519,475"
12,1363817,1378323,1392772,1408038,1417710,1426320,1428683,1427538,Hawaii,"1,420,491"
13,1570912,1583180,1594673,1610187,1630391,1649324,1680026,1716943,Idaho,"1,754,208"
14,12841196,12862298,12878494,12890403,12882438,12862051,12835726,12802023,Illinois,"12,741,080"
15,6490029,6515358,6535665,6567484,6593182,6610596,6634007,6666818,Indiana,"6,691,878"
16,3050223,3063690,3074386,3089876,3105563,3118473,3130869,3145711,Iowa,"3,156,145"
17,2858403,2868756,2885316,2892900,2899553,2905789,2907731,2913123,Kansas,"2,911,505"
18,4347948,4368505,4383673,4399121,4410415,4422057,4436113,4454189,Kentucky,"4,468,402"
19,4544871,4574388,4602681,4626795,4648797,4671211,4686157,4684333,Louisiana,"4,659,978"
20,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907,Maine,"1,338,404"
21,5788099,5843115,5891680,5932654,5970245,6000561,6024752,6052177,Maryland,"6,042,718"
22,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819,Massachusetts,"6,902,149"
23,9876731,9876199,9886610,9899219,9914675,9918170,9933445,9962311,Michigan,"9,995,915"
24,5310711,5345967,5377695,5416074,5452649,5483238,5525050,5576606,Minnesota,"5,611,179"
25,2970437,2977452,2982963,2987721,2988578,2985297,2985415,2984100,Mississippi,"2,986,530"
26,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532,Missouri,"6,126,452"
27,990507,996866,1003522,1011921,1019931,1028317,1038656,1050493,Montana,"1,062,305"
28,1829956,1841641,1854862,1867414,1880920,1893564,1907603,1920076,Nebraska,"1,929,268"
29,2702797,2718170,2752410,2786547,2831730,2883057,2939254,2998039,Nevada,"3,034,392"
30,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795,New Hampshire,"1,356,458"
31,8803708,8844694,8882095,8913735,8943010,8960001,8978416,9005644,New Jersey,"8,908,520"
32,2064607,2077744,2083590,2085161,2083207,2082264,2085432,2088070,New Mexico,"2,095,428"
33,19405185,19526372,19625409,19712514,19773580,19819347,19836286,19849399,New York,"19,542,209"
34,9574247,9662940,9755299,9849812,9941160,10041769,10156689,10273419,North Carolina,"10,383,620"
35,674518,684830,701380,722908,738658,754859,755548,755393,North Dakota,"760,077"
36,11539282,11543332,11546969,11567845,11593741,11606027,11622554,11658609,Ohio,"11,689,442"
37,3759529,3785232,3815298,3849840,3875008,3904353,3921207,3930864,Oklahoma,"3,943,079"
38,3837073,3865845,3893920,3919664,3960673,4016537,4085989,4142776,Oregon,"4,190,713"
39,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537,Pennsylvania,"12,807,060"
40,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639,Rhode Island,"1,057,315"
41,4635834,4672744,4719009,4765862,4824758,4892423,4959822,5024369,South Carolina,"5,084,127"
42,816227,823338,832576,842513,849455,854036,861542,869666,South Dakota,"882,235"
43,6355882,6396281,6450632,6490795,6540007,6590726,6649404,6715984,Tennessee,"6,770,010"
44,25241648,25644424,26078327,26479279,26954436,27454880,27904862,28304596,Texas,"28,701,845"
45,2775260,2815430,2854222,2899961,2938671,2984917,3044321,3101833,Utah,"3,161,105"
46,625842,626210,625606,626044,625665,624455,623354,623657,Vermont,"626,299"
47,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020,Virginia,"8,517,685"
48,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743,Washington,"7,535,591"
49,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857,West Virginia,"1,805,832"
50,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483,Wisconsin,"5,813,568"
51,564376,567602,576608,582341,583334,586102,584910,579315,Wyoming,"577,737"

In [117]:
result["Code"] = ['US','AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']

In [118]:
result

,2010,2011,2012,2013,2014,2015,2016,2017,State,2018,Code
0,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178,United States,NaN,US
1,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747,Alabama,"4,887,871",AL
2,714015,722259,730825,736760,736759,737979,741522,739795,Alaska,"737,438",AK
3,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270,Arizona,"7,171,646",AZ
4,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279,Arkansas,"3,013,825",AR
5,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653,California,"39,557,045",CA
6,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154,Colorado,"5,695,564",CO
7,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184,Connecticut,"3,572,665",CT
8,899712,907884,916868,925114,934805,944107,952698,961939,Delaware,"967,171",DE
9,605040,620336,635630,650114,660797,672736,684336,693972,District of Columbia,"702,455",DC
10,18846461,19097369,19341327,19584927,19897747,20268567,20656589,20984400,Florida,"21,299,325",FL
11,9712696,9810595,9911171,9981773,10083850,10199533,10313620,10429379,Georgia,"10,519,475",GA
12,1363817,1378323,1392772,1408038,1417710,1426320,1428683,1427538,Hawaii,"1,420,491",HI
13,1570912,1583180,1594673,1610187,1630391,1649324,1680026,1716943,Idaho,"1,754,208",ID
14,12841196,12862298,12878494,12890403,12882438,12862051,12835726,12802023,Illinois,"12,741,080",IL
15,6490029,6515358,6535665,6567484,6593182,6610596,6634007,6666818,Indiana,"6,691,878",IN
16,3050223,3063690,3074386,3089876,3105563,3118473,3130869,3145711,Iowa,"3,156,145",IA
17,2858403,2868756,2885316,2892900,2899553,2905789,2907731,2913123,Kansas,"2,911,505",KS
18,4347948,4368505,4383673,4399121,4410415,4422057,4436113,4454189,Kentucky,"4,468,402",KY
19,4544871,4574388,4602681,4626795,4648797,4671211,4686157,4684333,Louisiana,"4,659,978",LA
20,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907,Maine,"1,338,404",ME
21,5788099,5843115,5891680,5932654,5970245,6000561,6024752,6052177,Maryland,"6,042,718",MD
22,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819,Massachusetts,"6,902,149",MA
23,9876731,9876199,9886610,9899219,9914675,9918170,9933445,9962311,Michigan,"9,995,915",MI
24,5310711,5345967,5377695,5416074,5452649,5483238,5525050,5576606,Minnesota,"5,611,179",MN
25,2970437,2977452,2982963,2987721,2988578,2985297,2985415,2984100,Mississippi,"2,986,530",MS
26,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532,Missouri,"6,126,452",MO
27,990507,996866,1003522,1011921,1019931,1028317,1038656,1050493,Montana,"1,062,305",MT
28,1829956,1841641,1854862,1867414,1880920,1893564,1907603,1920076,Nebraska,"1,929,268",NE
29,2702797,2718170,2752410,2786547,2831730,2883057,2939254,2998039,Nevada,"3,034,392",NV
30,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795,New Hampshire,"1,356,458",NH
31,8803708,8844694,8882095,8913735,8943010,8960001,8978416,9005644,New Jersey,"8,908,520",NJ
32,2064607,2077744,2083590,2085161,2083207,2082264,2085432,2088070,New Mexico,"2,095,428",NM
33,19405185,19526372,19625409,19712514,19773580,19819347,19836286,19849399,New York,"19,542,209",NY
34,9574247,9662940,9755299,9849812,9941160,10041769,10156689,10273419,North Carolina,"10,383,620",NC
35,674518,684830,701380,722908,738658,754859,755548,755393,North Dakota,"760,077",ND
36,11539282,11543332,11546969,11567845,11593741,11606027,11622554,11658609,Ohio,"11,689,442",OH
37,3759529,3785232,3815298,3849840,3875008,3904353,3921207,3930864,Oklahoma,"3,943,079",OK
38,3837073,3865845,3893920,3919664,3960673,4016537,4085989,4142776,Oregon,"4,190,713",OR
39,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537,Pennsylvania,"12,807,060",PA
40,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639,Rhode Island,"1,057,315",RI
41,4635834,4672744,4719009,4765862,4824758,4892423,4959822,5024369,South Carolina,"5,084,127",SC
42,816227,823338,832576,842513,849455,854036,861542,869666,South Dakota,"882,235",SD
43,6355882,6396281,6450632,6490795,6540007,6590726,6649404,6715984,Tennessee,"6,770,010",TN
44,25241648,25644424,26078327,26479279,26954436,27454880,27904862,28304596,Texas,"28,701,845",TX
45,2775260,2815430,2854222,2899961,2938671,2984917,3044321,3101833,Utah,"3,161,105",UT
46,625842,626210,625606,626044,625665,624455,623354,623657,Vermont,"626,299",VT
47,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020,Virginia,"8,517,685",VA
48,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743,Washington,"7,535,591",WA
49,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857,West Virginia,"1,805,832",WV
50,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483,Wisconsin,"5,813,568",WI
51,564376,567602,576608,582341,583334,586102,584910,579315,Wyoming,"577,737",WY

In [119]:
result = result.drop(columns=['State'])

In [120]:
result

,2010,2011,2012,2013,2014,2015,2016,2017,2018,Code
0,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178,NaN,US
1,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747,"4,887,871",AL
2,714015,722259,730825,736760,736759,737979,741522,739795,"737,438",AK
3,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270,"7,171,646",AZ
4,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279,"3,013,825",AR
5,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653,"39,557,045",CA
6,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154,"5,695,564",CO
7,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184,"3,572,665",CT
8,899712,907884,916868,925114,934805,944107,952698,961939,"967,171",DE
9,605040,620336,635630,650114,660797,672736,684336,693972,"702,455",DC
10,18846461,19097369,19341327,19584927,19897747,20268567,20656589,20984400,"21,299,325",FL
11,9712696,9810595,9911171,9981773,10083850,10199533,10313620,10429379,"10,519,475",GA
12,1363817,1378323,1392772,1408038,1417710,1426320,1428683,1427538,"1,420,491",HI
13,1570912,1583180,1594673,1610187,1630391,1649324,1680026,1716943,"1,754,208",ID
14,12841196,12862298,12878494,12890403,12882438,12862051,12835726,12802023,"12,741,080",IL
15,6490029,6515358,6535665,6567484,6593182,6610596,6634007,6666818,"6,691,878",IN
16,3050223,3063690,3074386,3089876,3105563,3118473,3130869,3145711,"3,156,145",IA
17,2858403,2868756,2885316,2892900,2899553,2905789,2907731,2913123,"2,911,505",KS
18,4347948,4368505,4383673,4399121,4410415,4422057,4436113,4454189,"4,468,402",KY
19,4544871,4574388,4602681,4626795,4648797,4671211,4686157,4684333,"4,659,978",LA
20,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907,"1,338,404",ME
21,5788099,5843115,5891680,5932654,5970245,6000561,6024752,6052177,"6,042,718",MD
22,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819,"6,902,149",MA
23,9876731,9876199,9886610,9899219,9914675,9918170,9933445,9962311,"9,995,915",MI
24,5310711,5345967,5377695,5416074,5452649,5483238,5525050,5576606,"5,611,179",MN
25,2970437,2977452,2982963,2987721,2988578,2985297,2985415,2984100,"2,986,530",MS
26,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532,"6,126,452",MO
27,990507,996866,1003522,1011921,1019931,1028317,1038656,1050493,"1,062,305",MT
28,1829956,1841641,1854862,1867414,1880920,1893564,1907603,1920076,"1,929,268",NE
29,2702797,2718170,2752410,2786547,2831730,2883057,2939254,2998039,"3,034,392",NV
30,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795,"1,356,458",NH
31,8803708,8844694,8882095,8913735,8943010,8960001,8978416,9005644,"8,908,520",NJ
32,2064607,2077744,2083590,2085161,2083207,2082264,2085432,2088070,"2,095,428",NM
33,19405185,19526372,19625409,19712514,19773580,19819347,19836286,19849399,"19,542,209",NY
34,9574247,9662940,9755299,9849812,9941160,10041769,10156689,10273419,"10,383,620",NC
35,674518,684830,701380,722908,738658,754859,755548,755393,"760,077",ND
36,11539282,11543332,11546969,11567845,11593741,11606027,11622554,11658609,"11,689,442",OH
37,3759529,3785232,3815298,3849840,3875008,3904353,3921207,3930864,"3,943,079",OK
38,3837073,3865845,3893920,3919664,3960673,4016537,4085989,4142776,"4,190,713",OR
39,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537,"12,807,060",PA
40,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639,"1,057,315",RI
41,4635834,4672744,4719009,4765862,4824758,4892423,4959822,5024369,"5,084,127",SC
42,816227,823338,832576,842513,849455,854036,861542,869666,"882,235",SD
43,6355882,6396281,6450632,6490795,6540007,6590726,6649404,6715984,"6,770,010",TN
44,25241648,25644424,26078327,26479279,26954436,27454880,27904862,28304596,"28,701,845",TX
45,2775260,2815430,2854222,2899961,2938671,2984917,3044321,3101833,"3,161,105",UT
46,625842,626210,625606,626044,625665,624455,623354,623657,"626,299",VT
47,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020,"8,517,685",VA
48,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743,"7,535,591",WA
49,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857,"1,805,832",WV
50,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483,"5,813,568",WI
51,564376,567602,576608,582341,583334,586102,584910,579315,"577,737",WY

In [121]:
result = result.drop([0])

In [122]:
result

,2010,2011,2012,2013,2014,2015,2016,2017,2018,Code
1,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747,"4,887,871",AL
2,714015,722259,730825,736760,736759,737979,741522,739795,"737,438",AK
3,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270,"7,171,646",AZ
4,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279,"3,013,825",AR
5,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653,"39,557,045",CA
6,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154,"5,695,564",CO
7,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184,"3,572,665",CT
8,899712,907884,916868,925114,934805,944107,952698,961939,"967,171",DE
9,605040,620336,635630,650114,660797,672736,684336,693972,"702,455",DC
10,18846461,19097369,19341327,19584927,19897747,20268567,20656589,20984400,"21,299,325",FL
11,9712696,9810595,9911171,9981773,10083850,10199533,10313620,10429379,"10,519,475",GA
12,1363817,1378323,1392772,1408038,1417710,1426320,1428683,1427538,"1,420,491",HI
13,1570912,1583180,1594673,1610187,1630391,1649324,1680026,1716943,"1,754,208",ID
14,12841196,12862298,12878494,12890403,12882438,12862051,12835726,12802023,"12,741,080",IL
15,6490029,6515358,6535665,6567484,6593182,6610596,6634007,6666818,"6,691,878",IN
16,3050223,3063690,3074386,3089876,3105563,3118473,3130869,3145711,"3,156,145",IA
17,2858403,2868756,2885316,2892900,2899553,2905789,2907731,2913123,"2,911,505",KS
18,4347948,4368505,4383673,4399121,4410415,4422057,4436113,4454189,"4,468,402",KY
19,4544871,4574388,4602681,4626795,4648797,4671211,4686157,4684333,"4,659,978",LA
20,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907,"1,338,404",ME
21,5788099,5843115,5891680,5932654,5970245,6000561,6024752,6052177,"6,042,718",MD
22,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819,"6,902,149",MA
23,9876731,9876199,9886610,9899219,9914675,9918170,9933445,9962311,"9,995,915",MI
24,5310711,5345967,5377695,5416074,5452649,5483238,5525050,5576606,"5,611,179",MN
25,2970437,2977452,2982963,2987721,2988578,2985297,2985415,2984100,"2,986,530",MS
26,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532,"6,126,452",MO
27,990507,996866,1003522,1011921,1019931,1028317,1038656,1050493,"1,062,305",MT
28,1829956,1841641,1854862,1867414,1880920,1893564,1907603,1920076,"1,929,268",NE
29,2702797,2718170,2752410,2786547,2831730,2883057,2939254,2998039,"3,034,392",NV
30,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795,"1,356,458",NH
31,8803708,8844694,8882095,8913735,8943010,8960001,8978416,9005644,"8,908,520",NJ
32,2064607,2077744,2083590,2085161,2083207,2082264,2085432,2088070,"2,095,428",NM
33,19405185,19526372,19625409,19712514,19773580,19819347,19836286,19849399,"19,542,209",NY
34,9574247,9662940,9755299,9849812,9941160,10041769,10156689,10273419,"10,383,620",NC
35,674518,684830,701380,722908,738658,754859,755548,755393,"760,077",ND
36,11539282,11543332,11546969,11567845,11593741,11606027,11622554,11658609,"11,689,442",OH
37,3759529,3785232,3815298,3849840,3875008,3904353,3921207,3930864,"3,943,079",OK
38,3837073,3865845,3893920,3919664,3960673,4016537,4085989,4142776,"4,190,713",OR
39,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537,"12,807,060",PA
40,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639,"1,057,315",RI
41,4635834,4672744,4719009,4765862,4824758,4892423,4959822,5024369,"5,084,127",SC
42,816227,823338,832576,842513,849455,854036,861542,869666,"882,235",SD
43,6355882,6396281,6450632,6490795,6540007,6590726,6649404,6715984,"6,770,010",TN
44,25241648,25644424,26078327,26479279,26954436,27454880,27904862,28304596,"28,701,845",TX
45,2775260,2815430,2854222,2899961,2938671,2984917,3044321,3101833,"3,161,105",UT
46,625842,626210,625606,626044,625665,624455,623354,623657,"626,299",VT
47,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020,"8,517,685",VA
48,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743,"7,535,591",WA
49,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857,"1,805,832",WV
50,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483,"5,813,568",WI
51,564376,567602,576608,582341,583334,586102,584910,579315,"577,737",WY

In [123]:
result = result.rename(columns={'Code': "State"})

In [124]:
result

,2010,2011,2012,2013,2014,2015,2016,2017,2018,State
1,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747,"4,887,871",AL
2,714015,722259,730825,736760,736759,737979,741522,739795,"737,438",AK
3,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270,"7,171,646",AZ
4,2921737,2938640,2949208,2956780,2964800,2975626,2988231,3004279,"3,013,825",AR
5,37327690,37672654,38019006,38347383,38701278,39032444,39296476,39536653,"39,557,045",CA
6,5048029,5116411,5186330,5262556,5342311,5440445,5530105,5607154,"5,695,564",CO
7,3580171,3591927,3597705,3602470,3600188,3593862,3587685,3588184,"3,572,665",CT
8,899712,907884,916868,925114,934805,944107,952698,961939,"967,171",DE
9,605040,620336,635630,650114,660797,672736,684336,693972,"702,455",DC
10,18846461,19097369,19341327,19584927,19897747,20268567,20656589,20984400,"21,299,325",FL
11,9712696,9810595,9911171,9981773,10083850,10199533,10313620,10429379,"10,519,475",GA
12,1363817,1378323,1392772,1408038,1417710,1426320,1428683,1427538,"1,420,491",HI
13,1570912,1583180,1594673,1610187,1630391,1649324,1680026,1716943,"1,754,208",ID
14,12841196,12862298,12878494,12890403,12882438,12862051,12835726,12802023,"12,741,080",IL
15,6490029,6515358,6535665,6567484,6593182,6610596,6634007,6666818,"6,691,878",IN
16,3050223,3063690,3074386,3089876,3105563,3118473,3130869,3145711,"3,156,145",IA
17,2858403,2868756,2885316,2892900,2899553,2905789,2907731,2913123,"2,911,505",KS
18,4347948,4368505,4383673,4399121,4410415,4422057,4436113,4454189,"4,468,402",KY
19,4544871,4574388,4602681,4626795,4648797,4671211,4686157,4684333,"4,659,978",LA
20,1327568,1327968,1328101,1327975,1328903,1327787,1330232,1335907,"1,338,404",ME
21,5788099,5843115,5891680,5932654,5970245,6000561,6024752,6052177,"6,042,718",MD
22,6564943,6612178,6659627,6711138,6757925,6794002,6823721,6859819,"6,902,149",MA
23,9876731,9876199,9886610,9899219,9914675,9918170,9933445,9962311,"9,995,915",MI
24,5310711,5345967,5377695,5416074,5452649,5483238,5525050,5576606,"5,611,179",MN
25,2970437,2977452,2982963,2987721,2988578,2985297,2985415,2984100,"2,986,530",MS
26,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532,"6,126,452",MO
27,990507,996866,1003522,1011921,1019931,1028317,1038656,1050493,"1,062,305",MT
28,1829956,1841641,1854862,1867414,1880920,1893564,1907603,1920076,"1,929,268",NE
29,2702797,2718170,2752410,2786547,2831730,2883057,2939254,2998039,"3,034,392",NV
30,1316700,1318345,1320923,1322622,1328684,1330134,1335015,1342795,"1,356,458",NH
31,8803708,8844694,8882095,8913735,8943010,8960001,8978416,9005644,"8,908,520",NJ
32,2064607,2077744,2083590,2085161,2083207,2082264,2085432,2088070,"2,095,428",NM
33,19405185,19526372,19625409,19712514,19773580,19819347,19836286,19849399,"19,542,209",NY
34,9574247,9662940,9755299,9849812,9941160,10041769,10156689,10273419,"10,383,620",NC
35,674518,684830,701380,722908,738658,754859,755548,755393,"760,077",ND
36,11539282,11543332,11546969,11567845,11593741,11606027,11622554,11658609,"11,689,442",OH
37,3759529,3785232,3815298,3849840,3875008,3904353,3921207,3930864,"3,943,079",OK
38,3837073,3865845,3893920,3919664,3960673,4016537,4085989,4142776,"4,190,713",OR
39,12711063,12742811,12768034,12778450,12790341,12791124,12787085,12805537,"12,807,060",PA
40,1053169,1052154,1052761,1052784,1054782,1055916,1057566,1059639,"1,057,315",RI
41,4635834,4672744,4719009,4765862,4824758,4892423,4959822,5024369,"5,084,127",SC
42,816227,823338,832576,842513,849455,854036,861542,869666,"882,235",SD
43,6355882,6396281,6450632,6490795,6540007,6590726,6649404,6715984,"6,770,010",TN
44,25241648,25644424,26078327,26479279,26954436,27454880,27904862,28304596,"28,701,845",TX
45,2775260,2815430,2854222,2899961,2938671,2984917,3044321,3101833,"3,161,105",UT
46,625842,626210,625606,626044,625665,624455,623354,623657,"626,299",VT
47,8025206,8107548,8188656,8261689,8316902,8366767,8414380,8470020,"8,517,685",VA
48,6741386,6819155,6890899,6963410,7046931,7152818,7280934,7405743,"7,535,591",WA
49,1854315,1854891,1855360,1852333,1847624,1839767,1828637,1815857,"1,805,832",WV
50,5690403,5705812,5721075,5736673,5751272,5759744,5772917,5795483,"5,813,568",WI
51,564376,567602,576608,582341,583334,586102,584910,579315,"577,737",WY

In [126]:
result.to_csv('population.csv')